body{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}

.container{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to right, #fcc,  #ccc);
    flex-direction: column;
}
h1{
    margin: 0;
    margin: 3.2% 0;
    font-size: 3rem;
    color: white;
    text-shadow: 0px 0px 10px #000;
}
.formulario-registro{
    width: 50%;
    margin: auto;
    margin-bottom: 10%;
    padding: 20px 10px;
    border: 1px solid #4444 ;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #666;
    display: flex;
    flex-direction: column;
    background: #eeeeeeaa;
}
.info,.segurity{
    font-size: 1.5em;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 2px solid #333;
    
}
.subtitle{
    border: 2px solid #333;
    border-radius: 3px;
    padding: 4px 8px;
    font-weight: bolder;
}
.cajitas{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    font-weight: bold;
    text-shadow: 0px 0px 1.5px #000;
    font-size: 0.8em;
}
.cajita{
    margin: 20px 0; 
    font-family: inherit;
    background: none;
    border-radius: 5px;
    border: 1px solid #333;
    padding: 4px 10px;
    font-size: 0.7em;
    min-width: 50%;
    
}
.cajita:hover,.cajita:focus,.boton:focus,.boton:hover{
    box-shadow: 0 0 10px 0 #333;
    outline-style: none;
}
.boton{
    margin: 5% 0;
    background: #fac;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
}
.span{
    font-size: 0.9rem;
    color: #f66;
    text-shadow: none;
}
.invalido{
    font-family: inherit;
    background: none;
    border-radius: 5px;
    padding: 4px 10px;
    font-size: 0.7em;
    min-width: 50%;
    margin-top: 20px;
    margin-bottom: 0;
    border: 1px solid #f44;
    box-shadow: 0 0 10px 0 #f44;
    outline-style: none;
}
.distancia{
    margin: 10px 0;
}